/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/*.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}*/

.left {
    flex: 1;
}

.right {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

.section-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
