*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100%;
	color: #555;   
}

nav{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	grid-column-gap: 30px;
	grid-template-rows: 70px;
	bos-shadow: 0 5px 5px rgba(0,0,0,0.15);
	position: sticky;
	top: 0;
	background-color: #a3e4d7 ;   /*#4dd7fa*/ /*ok*/
	padding-left: 20px;
	padding-right: 20px;
}

nav .volunteer{
	font-size: 28px;
	font-weight: bold;
	color: #033076;   /*#245990*/ /*ok*/
}

nav a{
	text-decoration: none;
	display: inline-block;
	padding: 10px 35px;
	transition: background-color 0.3s, color 0.3s;
	color: black;  /*#245990*/  /*ok*/
	font-size: 18px;
}

nav a:hover,

nav a.active{
	background: #4d9176;
	color: #fff;   /*#fff*/
	border-radius: 3px;
}

/* HEADER RULES --------------- */
header{
	padding: 40px 20px;
	background-color: #c9f1fd;      /*#f4f4f4*/   
}
header h1{}

header .sub-title{
	margin-top: 20px;
	line-height: 28px;
}

/* MAIN SECTION ------------ */
main{
	padding: 20px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

main .section-title{
	font-size: 22px;
	margin-bottom: 30px;
}

main .left{
	border-right: thin solid #d4d4d4;
	padding-right: 20px;
}

main .left a{
	display: block;
	text-decoration: none;
	color: #555;        
	font-size: 18px;
	margin-bottom: 10px;
}

main .left a:hover{
	text-decoration: underline;
}

/* main .right{} */

main .right .activities{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

main .right .activities-left img{
	height: 150px;
	display: block;
	margin: 0 auto;
}

main .right .title a{
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	color: #555;
	line-height: 26px;
}

main .right .title a:hover{
	text-decoration: underline;
}

main .right .description{
	margin-top: 10px;
}

main .right .details{
	font-size: 14px;
	margin-top: 10px;
	color: #003748;
}

/* FOOTER RULES */
footer{
	background-color: #a3e4d7;    
	padding: 20px;
	width: 100%;
	color: black;
}


